<template>
  <v-dialog
    v-model="
      this.$store.state.attributeLayouts.login.ErrorComponents.DialogError.show
    "
    width="500"
    persistent
  >
    <v-card>
      <v-card-title 
        class="headline grey lighten-2" 
        primary-title>
        {{
          this.$store.state.attributeLayouts.login.ErrorComponents.DialogError
            .TitleDialog
        }}
      </v-card-title>

      <v-card-text>
        {{
          this.$store.state.attributeLayouts.login.ErrorComponents.DialogError
            .TextContentDialog
        }}
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          flat
          @click="
            $store.state.attributeLayouts.login.ErrorComponents.DialogError.show = false
          "
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'DialogError'
}
</script>

<style scoped>
</style>
