<template>
  <v-dialog
    v-model="
      $store.state.attributePages.dashboard.AddProject.DialogAddProyek.show
    "
    persistent
    width="600"
  >
    <v-form>
      <v-card>
        <v-card-title 
          class="headline grey lighten-2" 
          primary-title>
          Tambah data proyek
          <v-spacer />
          <v-btn 
            color="red" 
            icon 
            flat 
            small 
            @click="closeDialogAddProyek">
            <v-icon small>
              /* eslint-disable vue/singleline-html-element-content-newline */
              close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container 
            grid-list-md 
            fluid>
            <v-layout 
              row 
              wrap>
              <v-flex 
                xs12 
                sm12 
                md6>
                <v-text-field 
                  v-model="namaProyek" 
                  label="Nama proyek" />
              </v-flex>
              <v-flex 
                xs12 
                sm12 
                md6>
                <v-text-field 
                  v-model="kodeProyek" 
                  label="Kode proyek" />
              </v-flex>
              <v-flex 
                xs12 
                sm12 
                md6>
                <v-text-field
                  v-model="penanggungJawab"
                  label="Penanggung jawab"
                />
              </v-flex>
              <v-flex 
                xs12 
                sm12 
                md6>
                <v-text-field 
                  v-model="customer" 
                  label="Customer" />
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions class="grey lighten-2">
          <v-spacer />
          <v-btn
            type="submit"
            color="blue"
            outline
            @click.prevent="processSaveDataProyek"
          >
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
export default {
  name: 'DialogAddProject',

  data: () => ({
    dialogShow: false,
    namaProyek: null,
    kodeProyek: null,
    penanggungJawab: null,
    customer: null
  }),

  methods: {
    closeDialogAddProyek() {
      this.$store.state.attributePages.dashboard.AddProject.DialogAddProyek.show = false
    },

    async processSaveDataProyek() {
      this.$store.state.attributeUniversalComponents.custom.LoadingPages.MyCustomLoadingResponse.show = true

      /*
       * Validate area
       * */
      if (this.namaProyek !== null) {
        this.namaProyek = this.namaProyek.trim()
      }
      if (this.kodeProyek !== null) {
        this.kodeProyek = this.kodeProyek.trim()
      }
      if (!this.namaProyek) {
        this.$store.state.attributeUniversalComponents.custom.LoadingPages.MyCustomLoadingResponse.show = false
        return this.$toast.error('Nama proyek wajib diisi!', {
          icon: 'error_outline'
        })
      }
      if (!this.kodeProyek) {
        this.$store.state.attributeUniversalComponents.custom.LoadingPages.MyCustomLoadingResponse.show = false
        return this.$toast.error('Kode proyek wajib diisi!', {
          icon: 'error_outline'
        })
      }
      /*
       * End validate area
       * */

      try {
        const { data } = await this.$axios.post(
          'masterProyek/post/save',
          {
            namaProyek: this.namaProyek,
            kodeProyek: this.kodeProyek,
            penanggungJawab: this.penanggungJawab,
            customer: this.customer
          },
          this.$store.getters.tokenUser
        )
        this.$store.state.attributeUniversalComponents.custom.LoadingPages.MyCustomLoadingResponse.show = false
        this.$store.state.attributePages.dashboard.AddProject.DialogAddProyek.show = false
        this.namaProyek = null
        this.kodeProyek = null
        this.penanggungJawab = null
        this.customer = null
        this.$toast.error(data, {
          icon: 'check'
        })
      } catch (e) {
        try {
          const dataErr = e.response
          if (dataErr.status === 400) {
            for (let value of dataErr.data) {
              this.$toast.error(value.message)
            }
          } else {
            this.$store.state.attributeLayouts.default.ErrorComponents.DialogError.TitleDialog =
              'Kesalahan sistem'
            this.$store.state.attributeLayouts.default.ErrorComponents.DialogError.TextContentDialog =
              'Sepertinya terjadi error / bug pada sistem tambah data proyek, harap anda hubungi web developer melalui WA: +6281237594133 atau email: tejoprabowo4@gmail.com untuk memperbaiki kesalahan ini.'
            this.$store.state.attributeLayouts.default.ErrorComponents.DialogError.show = true
          }
        } catch (e) {
          this.$store.state.attributeLayouts.default.ErrorComponents.DialogError.TitleDialog =
            'Kesalahan sistem'
          this.$store.state.attributeLayouts.default.ErrorComponents.DialogError.TextContentDialog =
            'Sepertinya terjadi error / bug pada sistem tambah data proyek, harap anda hubungi web developer melalui WA: +6281237594133 atau email: tejoprabowo4@gmail.com untuk memperbaiki kesalahan ini.'
          this.$store.state.attributeLayouts.default.ErrorComponents.DialogError.show = true
        }
        this.$store.state.attributeUniversalComponents.custom.LoadingPages.MyCustomLoadingResponse.show = false
      }
    }
  }
}
</script>

<style scoped>
</style>
