<template>
  <div>
    <v-dialog
      v-model="this.$store.state.attributePages.MaterialCus.dialogSetDetailDataMaterialCus.show"
      persistent
      width="900">
      <v-card>
        <v-card-title
          primary-title
          class="title grey lighten-2">
          Input data detail material spesifikasi / dimensi
          {{ spesifikasiSetDataDetailMaterialPo }}
          <v-spacer />
          <v-btn
            icon
            small
            flat
            color="red"
            @click="closeDialog()"
          >
            <v-icon small> close </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container
            grid-list-md
          >
            <v-layout
              row
              wrap
            >
              <v-flex xs12>
                <v-dialog
                  ref="dialog"
                  v-model="modal"
                  :return-value.sync="tglPenerimaan"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="tglPenerimaan"
                    label="Tanggal penerimaan"
                    readonly
                  />
                  <v-date-picker
                    v-model="tglPenerimaan"
                    scrollable>
                    <v-spacer/>
                    <v-btn
                      flat
                      color="primary"
                      @click="modal = false">Cancel</v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="$refs.dialog.save(tglPenerimaan)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="noSuratJalan"
                  label="No surat jalan"
                />
              </v-flex>
              <v-flex xs4>
                <v-autocomplete
                  :items="this.$store.state.attributePages.MaterialCus.dialogCreateNewMvir.dataItemsSelectMvir"
                  v-model="mvirNo"
                  label="MVIR No"
                  @keyup.enter="getDataMvir()"
                />
              </v-flex>
              <v-flex xs2>
                <v-text-field
                  v-model="noUrutMvir"
                  label="No urut mvir"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="lotNo"
                  label="Lot No"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="heatNo"
                  label="Heat No"
                />
              </v-flex>
              <v-flex xs6>
                <v-autocomplete
                  :items="this.$store.state.attributePages.MaterialCus.dataListMaterialGudang"
                  v-model="lokasi"
                  label="Pilih lokasi"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="urutan"
                  label="Urutan"
                />
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider/>
        <v-card-actions
          class="grey lighten-2"
        >
          <v-spacer/>
          <v-btn
            color="blue"
            outline
            @click="saveDataDetailMaterialCus()"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import jsonQuery from 'json-query'
export default {
  name: 'DialogSetDetailDataMaterial',

  data: () => ({
    dialogSetDetailDataMaterialPo: false,
    spesifikasiSetDataDetailMaterialPo: '',
    dataHeadersTableSetDetailDataMaterialPo: [
      {
        text: 'Kode proyek',
        value: 'kode_proyek',
        sortable: false
      },
      {
        text: 'Nama barang',
        value: 'nama_barang',
        sortable: false
      },
      {
        text: 'Satuan',
        value: '',
        sortable: false
      },
      {
        text: 'Qty',
        value: '',
        sortable: false
      },
      {
        text: 'Actions',
        value: 'id',
        sortable: false,
        align: 'center'
      }
    ],
    dataItemsTableSetDetailDataMaterialPo: [],
    dialogSeeDetailMaterialPo: false,
    modal: false,
    jamPenerimaan: null,
    noSuratJalan: null,
    heatNo: null,
    lotNo: null,
    mvirNo: null,
    noUrutMvir: null,
    lokasi: null,
    urutan: null,
    tglPenerimaan: null,
    idPenerimaanMaterialWillBeStored: null,
    dataMaterialPoTmp: [],
    splitDataPenerimaan: null,
    mvir0: null,
    mvir1: null,
    mvir2: null
  }),

  watch: {
    '$store.state.attributePages.MaterialCus.dialogSetDetailDataMaterialCus.dataDetailMaterial'(
      val
    ) {
      this.tglPenerimaan = val.tgl_penerimaan
      this.noSuratJalan = val.no_surat_jalan
      this.heatNo = val.heat_no
      this.lotNo = val.lot_no
      this.lokasi = val.lokasi
      this.urutan = val.urutan
      this.idPenerimaanMaterialWillBeStored = val.id
      if (val.mvir_no) {
        let splitMvir = val.mvir_no.split('-')
        this.mvir0 = splitMvir[0]
        this.mvir1 = splitMvir[1]
        this.mvir2 = splitMvir[2]
        this.mvirNo = this.mvir0 + '-' + this.mvir1
        this.noUrutMvir = this.mvir2
      } else {
        this.mvirNo = null
        this.noUrutMvir = null
      }
      this.getDataMvir()
    },

    async mvirNo(mvir) {
      if (mvir === 'Buat MVIR baru') {
        this.$store.state.attributePages.MaterialCus.dialogCreateNewMvir.show = true
        this.$store.state.attributePages.MaterialCus.dialogCreateNewMvir.dataItemsSelectMvir = []
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: true
        })
        try {
          const { data } = await this.$axios.get(
            'http://192.168.20.2/apiUntukPabrik/api/po/' +
              this.$store.state.attributePages.MaterialPo
                .dialogSetDetailDataMaterialPo.dataDetailMaterial.no_po
          )
          const masterProject = await this.$axios.get(
            'http://192.168.20.2/apiuntukpabrik/api/project'
          )
          const dataMasterProject = {
            mProject: masterProject.data
          }
          const fetchMasterProject = jsonQuery(
            'mProject[**][*Kd_Proyek=' + data[0]['Kd_Proyek'] + ']',
            {
              data: dataMasterProject
            }
          ).value
          this.$store.state.attributePages.ReportMvir.dialogPrintMvir.namaProject =
            fetchMasterProject[0]['Nm_Proyek']
          this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataHeaderMvir =
            data[0]
          this.$store.dispatch('setLoadingResponseServer', {
            requestStatus: false
          })
        } catch (e) {
          this.$store.dispatch('setLoadingResponseServer', {
            requestStatus: false
          })
          console.log(e)
        }
      } else {
        this.$store.state.attributePages.MaterialPo.dialogCreateNewMvir.show = false
      }
    }
  },

  methods: {
    closeDialog() {
      this.$store.state.attributePages.MaterialCus.dialogSetDetailDataMaterialCus.show = false
    },

    async getDataMvir() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.get(
          'mvir/get/allData',
          this.$store.getters.tokenUser
        )
        this.$store.state.attributePages.MaterialCus.dialogCreateNewMvir.dataItemsSelectMvir = [
          'Buat MVIR baru'
        ]
        for (let value of data) {
          this.$store.state.attributePages.MaterialCus.dialogCreateNewMvir.dataItemsSelectMvir.push(
            value.report_no
          )
        }
        if (this.mvirNo === 'Buat MVIR baru') {
          this.mvirNo = null
        }
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        console.log(e)
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      }
    },

    async saveDataDetailMaterialCus() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.post(
          'saveDataDetalMaterialCus/',
          {
            tglPenerimaan: this.tglPenerimaan,
            noSuratJalan: this.noSuratJalan,
            mvirNo: this.mvirNo,
            noUrutMvir: this.noUrutMvir,
            lotNo: this.lotNo,
            heatNo: this.heatNo,
            lokasi: this.lokasi,
            urutan: this.urutan,
            idPenerimaan: this.idPenerimaanMaterialWillBeStored
          },
          this.$store.getters.tokenUser
        )
        this.$store.state.attributePages.MaterialCus.dialogSetDetailDataMaterialCus.show = false
        if (
          this.$store.state.attributePages.MaterialCus.reloadGetDataMaterial ===
          null
        ) {
          this.$store.state.attributePages.MaterialCus.reloadGetDataMaterial =
            'reload'
        } else {
          this.$store.state.attributePages.MaterialCus.reloadGetDataMaterial = null
        }
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        this.$toast.success(data, {
          icon: 'check'
        })
      } catch (e) {
        if (e.response.status === 409) {
          if (e.response.data.errorType === 'mvir error') {
            this.$toast.error(e.response.data.msg, {
              icon: 'error'
            })
          }
        }
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        // console.log(e)
      }
    }
  }
}
</script>
