<template>
  <div>
    <v-dialog
      v-model="$store.state.attributePages.ReportMvir.dialogPrintMvir.show"
      width="1200px"
      persistent
      fullscreen
    >
      <v-card>
        <v-card-title
          primary-title
          class="headline grey lighten-2"
        >
          Mvir data
          <v-spacer/>
          <v-btn
            icon
            flat
            color="blue"
            small
            @click="print()"
          >
            <v-icon
              small
            >
              print
            </v-icon>
          </v-btn>
          <v-btn
            icon
            small
            flat
            color="red"
            @click="closeDialog()"
          >
            <v-icon
              small
            >
              close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text
          id="mvir-print"
        >
          <h3 class="box-header text-center">
            MATERIAL VERIFICATION AND INSPECTION REPORT PT.CHC
          </h3>
          <div class="box small-font">
            <div class="column">
              <form class="form-inline">
                <label>PROJECT</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.project || null }}</span>
              </form>
            </div>
            <div class="column">
              <form class="form-inline">
                <label>REPORT NO</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.report_no || null }}</span>
              </form>
            </div>
            <div class="column">
              <form class="form-inline">
                <label>OWNER</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.owner || null }}</span>
              </form>
            </div>
            <div class="column">
              <form class="form-inline">
                <label>DATE</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.date_mvir || null }}</span>
              </form>
            </div>
            <div class="column">
              <form class="form-inline">
                <label>MAIN CONT.</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.main_cont || null }}</span>
              </form>
            </div>
            <div class="column">
              <form class="form-inline">
                <label>SUB CONT.</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.sub_cont || null }}</span>
              </form>
            </div>
          </div>

          <div class="box small-font">
            <div class="column">
              <form class="form-inline">
                <label>DESCRIPTION OF GOODS</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.description_of_goods || null }}</span>
              </form>
            </div>
            <div class="column">
              <form class="form-inline">
                <label>SUPPLIE / VENDOR</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.supplier_vendor || null }}</span>
              </form>
            </div>
            <div class="column">
              <form class="form-inline">
                <label>CONTRACT / PO NO.</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.contract_po_no || null }}</span>
              </form>
            </div>
            <div class="column">
              <form class="form-inline">
                <label>TYPE</label>
                <span class="input-control">: {{ this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir.type || null }}</span>
              </form>
            </div>
          </div>

          <no-ssr>
            <table
              id="table"
            >
              <tr>
                <th>No mvir</th>
                <th>Grade</th>
                <th>Descriptiom</th>
                <th>QTY</th>
                <th>Tonage</th>
                <th>Lot No.</th>
                <th>Heat No.</th>
                <th>Mill Cert No.</th>
                <th>Visual</th>
                <th>A</th>
                <th>H</th>
                <th>R</th>
              </tr>
              <tr
                v-for="(material, index) in this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMaterialByMvir"
                :key="index"
                class="hover-tr"
                @click="openDialogEditDataMvir(index)"
              >
                <td>
                  {{ material.mvir_no }}
                </td>
                <td>
                  {{ material.grade }}
                </td>
                <td>
                  {{ material.spesifikasi }}
                </td>
                <td>
                  {{ material.qty }}
                </td>
                <td>
                  {{ material.tonage }}
                </td>
                <td>
                  {{ material.lot_no }}
                </td>
                <td>
                  {{ material.heat_no }}
                </td>
                <td>
                  {{ material.mill_cert_no }}
                </td>
                <td>
                  {{ material.visual }}
                </td>
                <td
                  v-if="material.a === 'Accept'">
                  &#8730;
                </td>
                <td v-if="material.a != 'Accept'">
                  {{ null }}
                </td>
                <td
                  v-if="material.h === 'Hold'">
                  &#8730;
                </td>
                <td v-if="material.h != 'Hold'">
                  {{ null }}
                </td>
                <td
                  v-if="material.r === 'Reject'">
                  &#8730;
                </td>
                <td v-if="material.r != 'Reject'">
                  {{ null }}
                </td>
              </tr>
              <tr>
                <td colspan="3">Total</td>
                <td>{{ getSum($store.state.attributePages.ReportMvir.dialogPrintMvir.dataArrayQtyMaterial) }}</td>
                <td>{{ getSum($store.state.attributePages.ReportMvir.dialogPrintMvir.dataArrayTonageMaterial) }}</td>
                <td colspan="7"/>
              </tr>
            </table>
            <div class="grid">
              <div class="item d">
                INSPECTED BY MATERIAL CONTROL
                <br><br><br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
                PT. CHC
              </div>
              <div class="item e">
                REVIEW BY QUALITY CONTROL
                <br><br><br><br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
                PT. CHC
              </div>
              <div class="item f">
                APPROVED BY
                <br><br><br><br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
              </div>
            </div>
          </no-ssr>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!--Dialog edit data print mvir-->
    <v-dialog
      v-model="dialogEditDataDetailMvir"
      width="600px"
      persistent
    >
      <v-card>
        <v-card-title
          primary-title
          class="headline grey lighten-2"
        >
          Edit data mvir {{ titleDialogEditMvir }}
          <v-spacer/>
          <v-btn
            small
            icon
            flat
            color="red"
            @click.native="dialogEditDataDetailMvir = false"
          >
            <v-icon
              color="red"
              small
            >
              close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="inputMillCertNo"
            label="Mill Cert No."
          />
          <v-autocomplete
            v-model="inputVisual"
            :items="dataSelectVisual "
            label="Visual"
          />
          <v-radio-group
            v-model="radiosAHR"
            :mandatory="false"
            row
          >
            <v-radio
              label="Accept"
              value="Accept"
            />
            <v-radio
              label="Reject"
              value="Reject"
            />
            <v-radio
              label="Hold"
              value="Hold"
            />
          </v-radio-group>
        </v-card-text>
        <v-card-actions
          class="grey lighten-2"
        >
          <v-spacer/>
          <v-btn
            color="blue"
            outline
            @click="saveDataEditMvir()"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'PrintMvir',
  props: {
    dialogViewMvir: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    showDialogMvir: false,
    cssText: `
      @page {
        size: A4 landscape;
      }
      * {
        font-family: "Times New Roman", Times, serif;
      }
      .text-center {
        text-align: center !important;
      }
      .box-header {
        border: solid 1px black;
        padding: 1em;
      }
      .box {
        border: solid 1px black;
        padding: 1em;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }
      .small-font {
        font-size: 13px;
      }
      .column {
        width: 49.50%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        float: left;
      }
      .form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        text-decoration: underline;
      }
      .form-inline label {
        width: 190px;
      }
      .form-inline input {
        vertical-align: middle;
        margin: 5px 10px 5px 0;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
      }
      table, td, th {
        border: 1px solid black;
      }
      #table {
        border-collapse: collapse;
        width: 100%;
      }
      #table th {
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: center;
        font-size: 12px;
      }
      #table td {
        text-align: center;
        font-size: 10px;
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        height: auto;
        font-family: sans-serif;
        border: 1px solid black;
        padding: 3px 3px 3px 3px;
        margin-top: 30px;
      }

      .item {
        text-align: center;
        padding: 30px;
      }

      h1 {
        font-size: 2rem;
        text-align: center;
      }

      .d {
        grid-column: 1 / 2;
      }

      .e {
        background: #ddd;
        grid-column: 2 / 3;
      }

      .f {
        grid-column: 3 / 4;
      }
    `,
    hideInputEditMillCertNo: true,
    dialogEditDataDetailMvir: false,
    titleDialogEditMvir: null,
    inputMillCertNo: null,
    dataSelectVisual: ['GOOD', 'BAD'],
    inputVisual: null,
    radiosAHR: 'Accept',
    indexMaterial: null,
    idPenerimaanUpdate: null,
    mvirFrom: null
  }),

  mounted() {
    const { Printd } = require('printd')
    this.d = new Printd()
  },

  methods: {
    closeDialog() {
      this.$store.state.attributePages.ReportMvir.dialogPrintMvir.show = false
    },

    print() {
      this.d.print(document.getElementById('mvir-print'), this.cssText)
    },

    openDialogEditDataMvir(indexMaterial) {
      let dataMvir = this.$store.state.attributePages.ReportMvir.dialogPrintMvir
        .dataMaterialByMvir[indexMaterial]
      this.indexMaterial = indexMaterial
      this.idPenerimaanUpdate = dataMvir.id_penerimaan
      this.titleDialogEditMvir = dataMvir.mvir_no
      this.inputMillCertNo = null
      this.inputVisual = null
      this.radiosAHR = 'Accept'
      this.mvirFrom = dataMvir.mvir_from
      this.dialogEditDataDetailMvir = true
    },

    async saveDataEditMvir() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.post(
          'updateDataMaterialByMvir/',
          {
            millCertNo: this.inputMillCertNo,
            visual: this.inputVisual,
            statusAHR: this.radiosAHR,
            idPenerimaan: this.idPenerimaanUpdate,
            mvirFrom: this.mvirFrom
          },
          this.$store.getters.tokenUser
        )
        this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMaterialByMvir[
          this.indexMaterial
        ].mill_cert_no = this.inputMillCertNo
        this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMaterialByMvir[
          this.indexMaterial
        ].visual = this.inputVisual
        if (this.radiosAHR === 'Accept') {
          this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMaterialByMvir[
            this.indexMaterial
          ].a = 'Accept'
        } else if (this.radiosAHR === 'Reject') {
          this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMaterialByMvir[
            this.indexMaterial
          ].r = 'Reject'
        } else {
          this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMaterialByMvir[
            this.indexMaterial
          ].h = 'Hold'
        }
        this.$toast.success(data, {
          icon: 'check'
        })
        this.dialogEditDataDetailMvir = false
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        console.log(e)
      }
    },

    getSum(input) {
      if (toString.call(input) !== '[object Array]') return false

      var total = 0
      for (var i = 0; i < input.length; i++) {
        if (isNaN(input[i])) {
          continue
        }
        total += Number(input[i])
      }
      return total
    }
  }
}
</script>
<style scoped>
.text-center {
  text-align: center !important;
}
.box-header {
  font-family: sans-serif;
  border: solid 1px black;
  padding: 1em;
}
.box {
  font-family: sans-serif;
  border: solid 1px black;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.small-font {
  font-size: 13px;
}
.column {
  width: 49.5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  float: left;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-decoration: underline;
}
.form-inline label {
  width: 190px;
}
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
table,
td,
th {
  border: 1px solid black;
}
#table {
  border-collapse: collapse;
  width: 100%;
}
#table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-size: 12px;
}
#table td {
  text-align: center;
  font-size: 11px;
}
.hover-tr:hover {
  cursor: pointer;
  background-color: aqua;
}
input {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  height: auto;
  font-family: sans-serif;
  border: 1px solid black;
  padding: 3px 3px 3px 3px;
  margin-top: 30px;
}

.item {
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.d {
  grid-column: 1 / 2;
}

.e {
  grid-column: 2 / 3;
}

.f {
  grid-column: 3 / 4;
}
</style>
