/* .fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .3s;
}

.fade-enter-active {
  transition-delay: .1s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
} */


.page-enter-active, .page-leave-active {
  /* transition-property: opacity; */
  /* transition-duration: .3s; */
  transition: all 0.5s;
}

/* .fade-enter-active {
  transition-delay: .1s;
} */

.page-enter, .page-leave-active {
  opacity: 0
}
