<template>
  <div>
    <v-dialog
      v-model="this.$store.state.attributePages.MaterialPo.dialogCreateNewMvir.show"
      persistent
      width="600"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title
          primary-title
          class="headline grey lighten-2"
        >
          Buat MVIR number
          <v-spacer/>
          <v-btn
            color="red"
            small
            icon
            flat
            @click="closeDialog()"
          >
            <v-icon small>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout
              row
              wrap
            >
              <v-flex xs6>
                <v-text-field
                  v-model="mvirProject"
                  label="Project"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="mvirOwner"
                  label="Owner"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="mvirMainCont"
                  label="Main Cont."
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="mvirSubCont"
                  label="Sub Cont"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="mvirReportNo"
                  label="Report No"
                />
              </v-flex>
              <v-flex xs6>
                <v-dialog
                  ref="dialog"
                  v-model="modalMvir"
                  :return-value.sync="mvirDate"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="mvirDate"
                    label="Date MVIR No."
                    readonly
                  />
                  <v-date-picker
                    v-model="mvirDate"
                    scrollable>
                    <v-spacer/>
                    <v-btn
                      flat
                      color="primary"
                      @click="modalMvir = false">Cancel</v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="$refs.dialog.save(mvirDate)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="mvirDescriptionOfGoods"
                  label="Description of goods"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="mvirSupplierVendor"
                  label="Supplier / Vendor"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="mvirContractPoNo"
                  label="Contract / Po No."
                />
              </v-flex>
              <v-flex xs6>
                <v-autocomplete
                  :items="dataSelectTypeMvir"
                  v-model="mvirType"
                  label="Type"
                />
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions
          class="grey lighten-2"
        >
          <v-spacer/>
          <v-btn
            color="blue"
            outline
            @click="saveNewMvirNo()"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'DialogCreateNewMvir',

  data: () => ({
    mvirProject: null,
    mvirOwner: null,
    mvirMainCont: null,
    mvirSubCont: null,
    mvirReportNo: null,
    mvirDate: null,
    mvirDescriptionOfGoods: null,
    mvirSupplierVendor: null,
    mvirContractPoNo: null,
    mvirType: null,
    dataSelectTypeMvir: ['PLATE', 'PROFILE'],
    modalMvir: false,
    dataSelectProject: []
  }),

  watch: {
    '$store.state.attributePages.ReportMvir.dialogPrintMvir.dataHeaderMvir'(
      val
    ) {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      this.mvirProject = this.$store.state.attributePages.ReportMvir.dialogPrintMvir.namaProject
      if (this.mvirProject != '' || this.mvirProject != null) {
        let upperCase = this.$store.state.attributePages.ReportMvir.dialogPrintMvir.namaProject.toUpperCase()
        this.mvirProject = upperCase
      }
      this.mvirOwner = val.Owner
      this.mvirMainCont = val.MainContractor
      this.mvirSubCont = val.SubContractor
      this.mvirDescriptionOfGoods = val.KeteranganSpecialCondition
      this.mvirSupplierVendor = val.Nm_Supplier
      this.mvirContractPoNo = val.No_Po
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: false
      })
    }
  },

  methods: {
    async saveNewMvirNo() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.post(
          'mvir/post/new',
          {
            project: this.mvirProject,
            owner: this.mvirOwner,
            mainCont: this.mvirMainCont,
            subCont: this.mvirSubCont,
            reportNo: this.mvirReportNo,
            dateMvir: this.mvirDate,
            descriptionOfGoods: this.mvirDescriptionOfGoods,
            supplierVendor: this.mvirSupplierVendor,
            contracPoNo: this.mvirContractPoNo,
            type: this.mvirType,
            mvirFrom: 'po'
          },
          this.$store.getters.tokenUser
        )
        this.$store.state.attributePages.MaterialPo.dialogCreateNewMvir.show = false
        this.mvirProject = null
        this.mvirOwner = null
        this.mvirMainCont = null
        this.mvirSubCont = null
        this.mvirReportNo = null
        this.mvirDate = null
        this.mvirDescriptionOfGoods = null
        this.mvirSupplierVendor = null
        this.mvirContractPoNo = null
        this.mvirType = null
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        this.$toast.success(data, {
          icon: 'check'
        })
      } catch (e) {
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        console.log(e)
      }
    },

    closeDialog() {
      this.$store.state.attributePages.MaterialPo.dialogCreateNewMvir.show = false
    }
  }
}
</script>
