<template>
  <div>
    <v-dialog
      v-model="this.$store.state.attributePages.MaterialPo.dialogSelectMaterialForSetDataDetailMaterial.show"
      persistent
      width="900">
      <v-card>
        <v-card-title
          primary-title
          class="title grey lighten-2">
          Input data detail material spesifikasi / dimensi
          {{ spesifikasiSetDataDetailMaterialPo }}
          <v-spacer />
          <v-btn
            icon
            flat
            color="red"
            small
            @click="closeDIalog()"
          >
            <v-icon small> close </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="dataHeadersTableSetDetailDataMaterialPo"
            :items="this.$store.state.attributePages.MaterialPo.dialogSelectMaterialForSetDataDetailMaterialdataItemsTableSetDetailDataMaterialPo"
            class="elevation-7"
          >
            <template
              slot="items"
              slot-scope="props">
              <tr @click="setIdPenerimaan(props.item.id)">
                <td>{{ props.item.kode_proyek }}</td>
                <td>{{ props.item.nama_barang }}</td>
                <td>{{ props.item.satuan }}</td>
                <td>{{ props.item.qty }}</td>
                <td class="text-xs-center">
                  <v-tooltip top>
                    <v-btn
                      slot="activator"
                      :color="checkIfDataDetailALreadySet(props.item.mvir_no)"
                      icon
                      small
                      flat
                      @click="seeDetailDataMaterialPoPerPage(props.item, props.index)"
                    >
                      <v-icon small> toc </v-icon>
                    </v-btn>
                    <span>
                      Input data detail material spesifikasi /
                      {{ spesifikasiSetDataDetailMaterialPo }}
                    </span>
                  </v-tooltip>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'DialogSelectMaterialForSetDataDetailMaterial',

  data: () => ({
    dataHeadersTableSetDetailDataMaterialPo: [
      {
        text: 'Kode proyek',
        value: 'kode_proyek',
        sortable: false
      },
      {
        text: 'Nama barang',
        value: 'nama_barang',
        sortable: false
      },
      {
        text: 'Satuan',
        value: '',
        sortable: false
      },
      {
        text: 'Qty',
        value: '',
        sortable: false
      },
      {
        text: 'Actions',
        value: 'id',
        sortable: false,
        align: 'center'
      }
    ],
    dataItemsTableSetDetailDataMaterialPo: [],
    spesifikasiSetDataDetailMaterialPo: null
  }),

  methods: {
    seeDetailDataMaterialPoPerPage(dataMaterialPo, indexArray) {
      this.$store.state.attributePages.MaterialPo.indexArrayDataListMaterial = indexArray
      this.$store.state.attributePages.MaterialPo.dialogSetDetailDataMaterialPo.dataDetailMaterial = dataMaterialPo
      this.$store.state.attributePages.MaterialPo.dialogSetDetailDataMaterialPo.show = true
    },

    checkIfDataDetailALreadySet(mvirNo) {
      if (!mvirNo) {
        return 'red'
      }
      return 'green'
    },

    setIdPenerimaan(id) {
      this.idPenerimaanMaterialWillBeStored = id
    },

    closeDIalog() {
      this.$store.state.attributePages.MaterialPo.dialogSelectMaterialForSetDataDetailMaterial.show = false
    }
  }
}
</script>
