<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon> {{ item.icon }} </v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar 
      :clipped-left="clipped" 
      fixed 
      app 
      dark 
      color="primary">
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-tooltip left>
        <v-btn 
          slot="activator" 
          icon 
          large 
          @click="logOut">
          <v-icon> exit_to_app </v-icon>
        </v-btn>
        <span> Keluar aplikasi </span>
      </v-tooltip>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <dialog-error />
        <my-custom-loading-response />
        <nuxt />
      </v-container>
    </v-content>
    <v-footer 
      :fixed="fixed" 
      app 
      class="pa-3">
      <v-spacer />
      <span> &copy; CHC WEB DEVELOPER </span>
    </v-footer>
  </v-app>
</template>

<script>
import DialogError from '~/components/layouts/default/ErrorComponents/DialogError'
import Cookies from 'js-cookie'
import MyCustomLoadingResponse from '~/components/UniversalComponents/custom/LoadingPages/MyCustomLoadingResponse'
export default {
  components: {
    DialogError,
    MyCustomLoadingResponse
  },

  data() {
    return {
      clipped: true,
      drawer: false,
      fixed: true,
      items: [
        {
          icon: 'apps',
          title: 'Dashboard',
          to: '/dashboard'
        },
        {
          icon: 'move_to_inbox',
          title: 'Penerimaan Material',
          to: '/PenerimaanMaterial'
        },
        {
          icon: 'perm_contact_calendar',
          title: 'Input Material Customer',
          to: '/InputMaterialCustomer'
        },
        {
          icon: 'receipt',
          title: 'Report MVIR Number',
          to: '/ReportMvirNumber'
        },
        {
          icon: 'call_missed_outgoing',
          title: 'Pengeluaran Material',
          to: '/PengeluaranMaterial'
        },
        {
          icon: 'receipt',
          title: 'Data Material',
          to: '/DataMaterial'
        }
      ],
      miniVariant: false,
      title: 'APP GUDANG CHC'
    }
  },

  methods: {
    logOut() {
      this.$store.state.attributeUniversalComponents.custom.LoadingPages.MyCustomLoadingResponse.show = true
      Cookies.remove('token')
      this.$store.state.attributeAuthentication.login = false
      this.$store.state.attributeAuthentication.username = null
      this.$store.state.attributeAuthentication.tokenUser = null
      this.$store.state.attributeAuthentication.roleUser = null
      this.$router.push('/')
      setTimeout(() => {
        this.$store.state.attributeUniversalComponents.custom.LoadingPages.MyCustomLoadingResponse.show = false
      }, 800)
    }
  }
}
</script>
