<template>
  <v-app>
    <v-content>
      <v-container 
        fluid 
        fill-height>
        <DialogError />
        <nuxt />
        <my-custom-loading-response />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import DialogError from '~/components/layouts/login/ErrorComponents/DialogError'
import MyCustomLoadingResponse from '~/components/UniversalComponents/custom/LoadingPages/MyCustomLoadingResponse'
export default {
  name: 'Login',

  components: {
    DialogError,
    MyCustomLoadingResponse
  }
}
</script>

<style scoped>
</style>
