<template>
  <v-layout 
    row 
    wrap>
    <v-flex xs12>
      <!--<data-table-list-projects />-->
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque deleniti dignissimos, esse fugit ipsum magnam modi nobis numquam pariatur quod quos, reiciendis sequi similique, voluptatibus. Aliquid aut dicta molestiae!
    </v-flex>
  </v-layout>
</template>

<script>
import DataTableListProjects from '~/components/pages/dashboard/ListProjects/DataTableListProjects'

export default {
  name: 'Dashboard',
  middleware: ['checkStatusLogin'],

  components: {
    DataTableListProjects
  }
}
</script>

<style scoped>
</style>
