<template>
  <div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi consectetur laboriosam maxime perferendis
    quae quos saepe similique. Adipisci at, dolor dolore eaque explicabo impedit modi nisi odio voluptatibus
    voluptatum!
    </div>
    <div>Consectetur cupiditate eius enim, error id inventore laboriosam nam vel? Beatae cumque delectus deserunt dicta
    doloribus, earum laboriosam laborum, libero nostrum odit quae quasi repellat repellendus sequi soluta! Atque, vel.
    </div>
    <div>Aliquam amet animi aspernatur deserunt eos esse, excepturi, laudantium magnam mollitia necessitatibus non
    praesentium quas qui ratione recusandae, sint soluta tempora tempore tenetur totam ut vero voluptate voluptatum.
    Atque, expedita.
    </div>
    <div>At cumque molestias quaerat vero? A ex inventore quidem velit veniam. Ab deserunt nihil suscipit veniam
    voluptate! Ad doloremque ea, excepturi hic inventore, ipsa quasi quod rem sequi voluptate voluptatum!
    </div>
    <div>Beatae culpa dolores ducimus enim error, impedit quia rem rerum soluta voluptates. Ab dolore dolores ducimus ea
    fuga, in ipsa labore magnam maiores minima nobis pariatur recusandae sunt vel voluptate!
    </div>
    <div>A, atque beatae, consequatur corporis deserunt, doloribus dolorum harum mollitia obcaecati qui reiciendis
    reprehenderit sed sit! Amet architecto beatae doloribus ea eum inventore maiores modi quis reprehenderit saepe.
    Officia, voluptate.
    </div>
    <div>Amet assumenda at beatae et facilis laboriosam optio rem, similique veritatis! Consectetur cum ducimus ea
    molestiae obcaecati recusandae repellat tempore. Autem ducimus eligendi fugiat impedit in libero nam ullam
    voluptatibus.
    </div>
    <div>Dicta earum ex expedita maxime pariatur quasi vitae! Aliquam aut, corporis cumque dolorum facilis itaque
    laudantium neque nobis, odit officia porro quae quam sint sunt unde veritatis vitae? Fugiat, perferendis.
    </div>
    <div>Ad assumenda atque blanditiis consectetur, cum cupiditate dolor doloremque, eos est et ex facilis harum
    inventore laborum nulla placeat quam recusandae repellat repellendus sed similique sit temporibus vitae voluptate
    voluptatem!
    </div>
    <div>Earum illum ipsum quidem repellendus totam. Ab consectetur debitis, deserunt harum itaque numquam perferendis
    qui sequi temporibus vel. Consectetur distinctio id illo iusto qui veniam. Amet cumque ea illo repudiandae!
    </div>
  </div>
</template>

<script>
export default {
  name: 'DataMaterial'
}
</script>

<style scoped>
</style>
