<template>
  <v-layout 
    justify-center 
    align-center>
    <v-flex 
      xs12 
      sm8 
      md4>
      <v-alert
        v-for="error in errors"
        :key="error"
        type="error"
        value="true"
        transition="scale-transition"
      >
        {{ error }}
      </v-alert>
      <v-form>
        <v-card class="elevation-10">
          <v-toolbar 
            dark 
            color="primary">
            <v-toolbar-title>Login form material stock app</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-text-field
              v-model="email"
              prepend-icon="person"
              name="login"
              label="Email / ID karyawan"
              type="text"
            />
            <v-text-field
              id="password"
              v-model="password"
              :type="typePassword"
              prepend-icon="lock"
              name="password"
              label="Password"
            />
            <v-switch
              v-model="showHideInputPassword"
              :label="labelShowHidePassword"
              color="warning"
            />
            <v-switch
              v-model="rememberLogin"
              label="Ingatkan saya username dan password"
              color="warning"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn 
              color="error" 
              flat> Lupa password </v-btn>
            <v-btn 
              type="submit" 
              color="primary" 
              @click.prevent="loginProcess">
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>

    <!--Dialog process save email and password from relogin-->
    <v-dialog
      v-model="dialogConfirmRememberEmailAndPass"
      width="500"
      persistent
    >
      <v-card>
        <v-card-title 
          class="headline grey lighten-2" 
          primary-title>
          Konfirmasi mengingat email dan password
        </v-card-title>
        <v-card-text>
          Jika anda menggunakan fitur <b>ingat email dan password</b> maka email
          dan password anda akan tersimpan di memori browser anda, hal ini
          memungkinkan orang lain bisa melihat password anda. fitur ini mungkin
          tidak aman jika anda menggunakan pc atau laptop dengan cara berbagi
          dengan orang lain. silahkan konfirmasi jika ingin menggunakan fitur
          ini dan jika anda tidak mau memakai silahkan batalkan konfirmasi.
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn 
            color="primary" 
            flat 
            @click="unConfirmRememberLogin">
            Batalkan Konfirmasi
          </v-btn>
          <v-btn 
            color="primary" 
            @click="loginProcessConfirmRemeberLogin">
            <VueCountdown
              v-if="counting"
              :time="120000"
              :leading-zero="false"
              @countdownend="loginProcessConfirmRemeberLogin"
            >
              <template slot-scope="props">
                {{ props.totalSeconds }} Konfirmasi
              </template>
            </VueCountdown>
            <span v-else> Konfirmasi </span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import Cookies from 'js-cookie'
import cookie from 'cookie'
import VueCountdown from '@xkeshi/vue-countdown'
export default {
  layout: 'login',
  middleware: ['checkAlreadyLogin'],

  components: {
    VueCountdown
  },

  data: () => ({
    email: null,
    password: null,
    errors: [],
    rememberLogin: false,
    dialogConfirmRememberEmailAndPass: false,
    confirmRememberLogin: true,
    counting: false,
    alreadySetRememberLoginBefore: false,
    showHideInputPassword: false,
    labelShowHidePassword: 'Tampilkan password',
    typePassword: 'password'
  }),

  watch: {
    showHideInputPassword(val) {
      if (val) {
        this.labelShowHidePassword = 'Sembunyikan password'
        this.typePassword = 'text'
      } else {
        this.labelShowHidePassword = 'Tampilkan password'
        this.typePassword = 'password'
      }
    }
  },

  mounted() {
    this.checkRememberLogin()
  },

  methods: {
    loginProcess() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      if (this.email !== null && this.password !== null) {
        this.email = this.email.trim()
        this.password = this.password.trim()
      }

      if (this.email && this.password) {
        if (this.rememberLogin) {
          this.$store.dispatch('setLoadingResponseServer', {
            requestStatus: false
          })
          if (
            !Cookies.get('emailUserRememberLogin') ||
            !Cookies.get('passUserRememberLogin')
          ) {
            this.counting = true
            return (this.dialogConfirmRememberEmailAndPass = true)
          } else {
            if (
              Cookies.get('emailUserRememberLogin') !== this.email ||
              Cookies.get('passUserRememberLogin') !== this.password
            ) {
              this.counting = true
              return (this.dialogConfirmRememberEmailAndPass = true)
            }
          }
        }
        try {
          this.$store.dispatch('checkUsernamePassword', {
            email: this.email,
            password: this.password
          })
          this.errors = []
          this.password = null
          if (!this.rememberLogin) {
            Cookies.remove('emailUserRememberLogin')
            Cookies.remove('passUserRememberLogin')
          }
        } catch (e) {
          // console.log(e)
          this.$store.dispatch('setLoadingResponseServer', {
            requestStatus: false
          })
          this.errors = []
          this.errors.push(
            'Sistem halaman pada halaman login error! mohon lapor kepada web developer melalui WA +6281237594133 atau email tejoprabowo4@gmail.com'
          )
        }
      } else {
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        this.errors = []
        if (!this.email) {
          this.errors.push('Email/ID karyawan wajib di isi!')
        }
        if (!this.password) {
          this.errors.push('Password wajib di isi!')
        }
      }
    },

    loginProcessConfirmRemeberLogin() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        this.$store.dispatch('checkUsernamePassword', {
          email: this.email,
          password: this.password
        })
        Cookies.set('emailUserRememberLogin', this.email)
        Cookies.set('passUserRememberLogin', this.password)
        this.counting = false
        this.dialogConfirmRememberEmailAndPass = false
        this.errors = []
        this.password = null
      } catch (e) {
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        this.errors = []
        this.errors.push(
          'Sistem halaman pada halaman login error! mohon lapor kepada web developer melalui WA +6281237594133 atau email tejoprabowo4@gmail.com'
        )
      }
    },

    unConfirmRememberLogin() {
      this.counting = false
      this.dialogConfirmRememberEmailAndPass = false
      this.rememberLogin = false
    },

    checkRememberLogin() {
      try {
        const dataCookie = cookie.parse(document.cookie)
        if (
          dataCookie.emailUserRememberLogin &&
          dataCookie.passUserRememberLogin
        ) {
          this.email = dataCookie.emailUserRememberLogin
          this.password = dataCookie.passUserRememberLogin
          this.rememberLogin = true
        }
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>
