<template>
  <div>
    <v-card>
      <v-card-title
        primary-title
        class="headline grey lighten-2"
      >
        Input data material dari customer
        <v-spacer/>
        <v-btn
          color="blue"
          outline
          @click="saveDataItemsMaterialCus()"
        >
          Save
        </v-btn>
        <v-btn
          color="orange"
          icon
          flat
          small
          @click="addNewRowTableMaterialCus()"
        >
          <v-icon>
            add
          </v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-container
          fluid
          grid-list-md
        >
          <v-layout
            row
            wrap
          >
            <v-flex xs6>
              <v-text-field
                v-model="noOrder"
                label="No order"
              />
            </v-flex>
            <v-flex xs6>
              <v-autocomplete
                v-model="kodeProject"
                :items="dataSelectProject"
                label="Kode project"
              />
            </v-flex>
          </v-layout>

          <no-ssr>
            <table class="blueTable">
              <thead>
                <tr>
                  <th>Nama barang</th>
                  <th>Spesifikasi</th>
                  <th>Satuan</th>
                  <th>Grade</th>
                  <th>H</th>
                  <th>B</th>
                  <th>T1</th>
                  <th>T2</th>
                  <th>Length</th>
                  <th>UW</th>
                  <th>Qty</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(material, index) in dataItemsMaterialCus"
                  :key="index"
                >
                  <td
                    v-if="!material.hideInputEditNamaBarang"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditNamaBarang"
                      autofocus
                      type="text"
                      placeholder="Nama Barang"
                      @keyup.enter="updateDataItemsMaterialCus(index, 'nama_barang', 'hideInputEditNamaBarang', material.inputEditNamaBarang)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditNamaBarang"
                    @click="showColumnEdit(index, 'hideInputEditNamaBarang')"
                  >
                    {{ material.nama_barang }}
                  </td>

                  <td
                    v-if="!material.hideInputEditSpesifikasi"
                    bgcolor="red"
                  >
                    <input
                      ref="search"
                      v-model="material.inputEditSpesifikasi"
                      type="search"
                      placeholder="Spesifikasi"
                      @keyup.enter="updateDataItemsMaterialCus(index, 'spesifikasi', 'hideInputEditSpesifikasi', material.inputEditSpesifikasi)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditSpesifikasi"
                    @click="showColumnEdit(index, 'hideInputEditSpesifikasi')"
                  >
                    {{ material.spesifikasi }}
                  </td>

                  <td
                    v-if="!material.hideInputEditSatuan"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditSatuan"
                      type="text"
                      placeholder="Satuan"
                      autofocus
                      @keyup.enter="updateDataItemsMaterialCus(index, 'satuan', 'hideInputEditSatuan', material.inputEditSatuan)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditSatuan"
                    @click="showColumnEdit(index, 'hideInputEditSatuan')"
                  >
                    {{ material.satuan }}
                  </td>

                  <td
                    v-if="!material.hideInputEditGrade"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditGrade"
                      type="text"
                      placeholder="Grade"
                      autofocus
                      @keyup.enter="updateDataItemsMaterialCus(index, 'grade', 'hideInputEditGrade', material.inputEditGrade)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditGrade"
                    @click="showColumnEdit(index, 'hideInputEditGrade')"
                  >
                    {{ material.grade }}
                  </td>

                  <td
                    v-if="!material.hideInputEditH"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditH"
                      type="text"
                      placeholder="H"
                      autofocus
                      @keyup.enter="updateDataItemsMaterialCus(index, 'h', 'hideInputEditH', material.inputEditH)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditH"
                    @click="showColumnEdit(index, 'hideInputEditH')"
                  >
                    {{ material.h }}
                  </td>

                  <td
                    v-if="!material.hideInputEditB"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditB"
                      type="text"
                      placeholder="B"
                      autofocus
                      class="input-b"
                      @keyup.enter="updateDataItemsMaterialCus(index, 'b', 'hideInputEditB', material.inputEditB)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditB"
                    @click="showColumnEdit(index, 'hideInputEditB')"
                  >
                    {{ material.b }}
                  </td>

                  <td
                    v-if="!material.hideInputEditT1"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditT1"
                      type="text"
                      placeholder="T1"
                      autofocus
                      class="input-t1"
                      @keyup.enter="updateDataItemsMaterialCus(index, 't1', 'hideInputEditT1', material.inputEditT1)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditT1"
                    @click="showColumnEdit(index, 'hideInputEditT1')"
                  >
                    {{ material.t1 }}
                  </td>

                  <td
                    v-if="!material.hideInputEditT2"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditT2"
                      type="text"
                      placeholder="T2"
                      autofocus
                      class="input-t2"
                      @keyup.enter="updateDataItemsMaterialCus(index, 't2', 'hideInputEditT2', material.inputEditT2)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditT2"
                    @click="showColumnEdit(index, 'hideInputEditT2')"
                  >
                    {{ material.t2 }}
                  </td>

                  <td
                    v-if="!material.hideInputEditLength"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditLength"
                      type="text"
                      placeholder="Length"
                      autofocus
                      class="input-length"
                      @keyup.enter="updateDataItemsMaterialCus(index, 'length', 'hideInputEditLength', material.inputEditLength)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditLength"
                    @click="showColumnEdit(index, 'hideInputEditLength')"
                  >
                    {{ material.length }}
                  </td>

                  <td
                    v-if="!material.hideInputEditUw"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditUw"
                      type="text"
                      placeholder="UW"
                      autofocus
                      class="input-uw"
                      @keyup.enter="updateDataItemsMaterialCus(index, 'uw', 'hideInputEditUw', material.inputEditUw)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditUw"
                    @click="showColumnEdit(index, 'hideInputEditUw')"
                  >
                    {{ material.uw }}
                  </td>

                  <td
                    v-if="!material.hideInputEditQty"
                    bgcolor="red"
                  >
                    <input
                      v-model="material.inputEditQty"
                      type="text"
                      placeholder="Qty"
                      autofocus
                      class="input-qty"
                      @keyup.enter="updateDataItemsMaterialCus(index, 'qty', 'hideInputEditQty', material.inputEditQty)"
                    >
                  </td>
                  <td
                    v-if="material.hideInputEditQty"
                    @click="showColumnEdit(index, 'hideInputEditQty')"
                  >
                    {{ material.qty }}
                  </td>

                  <td>
                    <v-btn
                      small
                      icon
                      flat
                      color="red"
                      @click="removeDataItemsMaterialCus(index)"
                    >
                      <v-icon small>
                        delete
                      </v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </table>
          </no-ssr>
        </v-container>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'InputMaterialCustomer',
  middleware: ['checkStatusLogin'],
  data: () => ({
    dataSelectProject: [],
    kodeProject: null,
    noOrder: null,
    dataItemsMaterialCus: []
  }),

  mounted() {
    this.getCodeProject()
  },

  methods: {
    async getCodeProject() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.get(
          'http://192.168.20.2/apiUntukPabrik/api/Project'
        )
        for (let value of data) {
          this.dataSelectProject.push(value.Kd_Proyek)
        }
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        this.$toast.error('Connection trouble!', {
          icon: 'error'
        })
        console.log(e)
      }
    },

    addNewRowTableMaterialCus() {
      this.dataItemsMaterialCus.push({
        nama_barang: '-',
        spesifikasi: '-',
        satuan: '-',
        grade: '-',
        h: '-',
        b: '-',
        t1: '-',
        t2: '-',
        length: '-',
        uw: '-',
        qty: '-',
        inputEditNamaBarang: null,
        inputEditSpesifikasi: null,
        inputEditSatuan: null,
        inputEditGrade: null,
        inputEditH: null,
        inputEditB: null,
        inputEditT1: null,
        inputEditT2: null,
        inputEditLength: null,
        inputEditUw: null,
        inputEditQty: null,
        hideInputEditNamaBarang: true,
        hideInputEditSpesifikasi: true,
        hideInputEditSatuan: true,
        hideInputEditGrade: true,
        hideInputEditH: true,
        hideInputEditB: true,
        hideInputEditT1: true,
        hideInputEditT2: true,
        hideInputEditLength: true,
        hideInputEditUw: true,
        hideInputEditQty: true
      })
    },

    showColumnEdit(indexArray, showColumn) {
      this.dataItemsMaterialCus[indexArray][showColumn] = false
    },

    updateDataItemsMaterialCus(indexArray, nameModel, hideColumn, valueUpdate) {
      this.dataItemsMaterialCus[indexArray][hideColumn] = true
      this.dataItemsMaterialCus[indexArray][nameModel] = valueUpdate
    },

    removeDataItemsMaterialCus(indexArray) {
      this.dataItemsMaterialCus.splice(indexArray, 1)
    },

    async saveDataItemsMaterialCus() {
      let noOrder = this.noOrder
      let kodeProject = this.kodeProject
      if (noOrder != null) {
        this.noOrder = noOrder.trim()
      }
      if (kodeProject != null) {
        this.kodeProject = kodeProject.trim()
      }
      if (this.noOrder === null || this.noOrder === '') {
        return this.$toast.error('No order tidak boleh kosong!', {
          icon: 'error'
        })
      }
      if (this.kodeProject === null || this.kodeProject === '') {
        return this.$toast.error('Kode project tidak boleh kosong!', {
          icon: 'error'
        })
      }
      if (this.dataItemsMaterialCus.length === 0) {
        return this.$toast.error('Data material customer harus di isi!', {
          icon: 'error'
        })
      }
      for (let value of this.dataItemsMaterialCus) {
        if (value.nama_barang === '-' || value.nama_barang === null) {
          return this.$toast.error(
            'Data items material customer tidak valid!',
            {
              icon: 'error'
            }
          )
        }
      }
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      let i, iMax
      for (i = 0, iMax = this.dataItemsMaterialCus.length; i < iMax; i++) {
        try {
          const { data } = await this.$axios.post(
            'penereimaanMaterialCus/save',
            {
              noOrder: this.noOrder,
              kodeProject: this.kodeProject,
              dataMaterial: this.dataItemsMaterialCus[i]
            },
            this.$store.getters.tokenUser
          )
          if (data.status === 'Material success save') {
            this.$toast.success(data.msg, {
              icon: 'check'
            })
            this.dataItemsMaterialCus.splice(i, 1)
          } else {
            this.$toast.error(data.msg, {
              icon: 'error'
            })
          }
        } catch (e) {
          this.$store.dispatch('setLoadingResponseServer', {
            requestStatus: false
          })
        }
      }
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: false
      })
    }
  }
}
</script>
<style scoped>
table.blueTable {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td,
table.blueTable th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 14px;
}
table.blueTable tr:nth-child(even) {
  background: #d0e4f5;
}
table.blueTable thead {
  background: #1c6ea4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: -webkit-linear-gradient(
    top,
    #5592bb 0%,
    #327cad 66%,
    #1c6ea4 100%
  );
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(
    top,
    #dcebf7 0%,
    #d4e6f6 66%,
    #d0e4f5 100%
  );
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
table td:hover {
  cursor: pointer;
}
input {
  outline: none;
  text-align: center;
  color: white;
  width: 200px;
}
</style>
