<template>
  <div>
    <v-card>
      <v-card-title
        primary-title
        class="headline grey lighten-2">
        Penerimaan material customer
        <v-spacer />
        <v-text-field
          v-model="noOrderForSearchMaterialOrder"
          append-icon="search"
          label="Masukan no order untuk mendapatkan data material customer"
          @keyup.enter="getDataMaterialCus(noOrderForSearchMaterialOrder)"
        />
      </v-card-title>
      <v-card-text>
        <v-text-field
          v-model="searchDataTableGetMaterialCus"
          append-icon="search"
          label="Search Spesifikasi / Dimensi"
        />
        <v-data-table
          :headers="dataHeadersTableGetMaterialCus"
          :items="this.$store.state.attributePages.MaterialCus.dataItemsTableGetMaterialCus"
          :search="searchDataTableGetMaterialCus"
          :pagination.sync="pagination"
          class="elevation-7"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td>{{ props.item.kode_proyek }}</td>
            <td>{{ props.item.nama_barang }}</td>
            <td>{{ props.item.spesifikasi }}</td>
            <td>{{ props.item.satuan }}</td>
            <td>{{ props.item.qty }}</td>
            <td class="text-xs-center">
              <v-tooltip top>
                <v-btn
                  slot="activator"
                  :color="checkMvirMaterialCus(props.item.mvir_no)"
                  small
                  icon
                  flat
                  @click="openDialogSetDetailMaterial(props.item)"
                >
                  <v-icon small> edit </v-icon>
                </v-btn>
                <span>
                  Input data detail material berdimensi
                  {{ props.item.Spesifikasi }}
                </span>
              </v-tooltip>
            </td>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <dialog-set-detail-data-material />
    <dialog-create-new-mvir/>
  </div>
</template>

<script>
import dialogSetDetailDataMaterial from '~/components/pages/MaterialCus/DialogSetDetailDataMaterial'
import dialogCreateNewMvir from '~/components/pages/MaterialCus/DialogCreateNewMvir'
export default {
  name: 'MaterialCus',
  middleware: ['checkStatusLogin'],
  components: {
    dialogSetDetailDataMaterial,
    dialogCreateNewMvir
  },

  data: () => ({
    dataHeadersTableGetMaterialCus: [
      {
        text: 'Kode proyek',
        value: 'kode_proyek',
        sortable: false
      },
      {
        text: 'Nama barang',
        value: 'nama_barang',
        sortable: false
      },
      {
        text: 'Spesifikasi',
        value: 'spesifikasi',
        sortable: false
      },
      {
        text: 'Satuan',
        value: 'satuan',
        sortable: false
      },
      {
        text: 'Qty',
        value: 'qty',
        sortable: false
      },
      {
        text: 'Actions',
        value: 'id',
        sortable: false,
        align: 'center'
      }
    ],
    searchDataTableGetMaterialCus: null,
    noOrderForSearchMaterialOrder: null,
    pagination: {
      rowsPerPage: -1
    }
  }),

  watch: {
    '$store.state.attributePages.MaterialCus.reloadGetDataMaterial'() {
      this.getDataMaterialCus(this.noOrderForSearchMaterialOrder)
    }
  },

  methods: {
    async getDataMaterialCus(noOrder) {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.post(
          'penerimaanMaterialCus/get',
          {
            noOrder
          },
          this.$store.getters.tokenUser
        )
        this.$store.state.attributePages.MaterialCus.dataItemsTableGetMaterialCus = data
        this.$store.state.attributePages.MaterialCus.noOrderForReload = noOrder
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      }
    },

    checkMvirMaterialCus(mvir) {
      if (mvir === null) {
        return 'red'
      } else {
        return 'green'
      }
    },

    openDialogSetDetailMaterial(dataMaterial) {
      this.$store.state.attributePages.MaterialCus.dialogSetDetailDataMaterialCus.dataDetailMaterial = dataMaterial
      this.$store.state.attributePages.MaterialCus.dialogSetDetailDataMaterialCus.show = true
    }
  }
}
</script>

<style scoped>
</style>
