<template>
  <div>
    <v-card>
      <v-card-title 
        primary-title 
        class="headline grey lighten-2">
        Penerimaan material PO
        <v-spacer />
        <v-text-field
          v-model="noPoForSearchMaterialPo"
          append-icon="search"
          label="Masukan no po untuk mendapatkan data material po"
          @keyup.enter="getDataMaterialPo(noPoForSearchMaterialPo)"
        />
      </v-card-title>
      <v-card-text>
        <v-text-field
          v-model="searchDataTableGetMaterialPo"
          append-icon="search"
          label="Search Spesifikasi / Dimensi"
        />
        <v-data-table
          :headers="dataHeadersTableGetMaterialPo"
          :items="this.$store.state.attributePages.MaterialPo.dataItemsTableGetMaterialPo"
          :search="searchDataTableGetMaterialPo"
          class="elevation-7"
        >
          <template 
            slot="items" 
            slot-scope="props"
          >
            <td>{{ props.item.Nm_Barang }}</td>
            <td>{{ props.item.Spesifikasi }}</td>
            <td>{{ props.item.Kd_Satuan }}</td>
            <td>{{ props.item.Qty }}</td>
            <td class="text-xs-center">
              <v-tooltip top>
                <v-btn
                  slot="activator"
                  small
                  icon
                  flat
                  @click="checkCountDiterimaMaterialPo(props.item)"
                >
                  <v-icon small> navigate_next </v-icon>
                </v-btn>
                <span>
                  Input data detail material berdimensi
                  {{ props.item.Spesifikasi }}
                </span>
              </v-tooltip>
            </td>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <dialog-select-material-for-set-data-detail-material/>

    <dialog-set-detail-data-material />

    <dialog-create-new-mvir/>
  </div>
</template>

<script>
import dialogSelectMaterialForSetDataDetailMaterial from '~/components/pages/MaterialPo/DialogSelectMaterialForSetDataDetailMaterial'
import dialogSetDetailDataMaterial from '~/components/pages/MaterialPo/DialogSetDetailDataMaterial'
import dialogCreateNewMvir from '~/components/pages/MaterialPo/DialogCreateNewMvir'
export default {
  name: 'MaterialPo',
  middleware: ['checkStatusLogin'],
  components: {
    dialogSelectMaterialForSetDataDetailMaterial,
    dialogSetDetailDataMaterial,
    dialogCreateNewMvir
  },

  data: () => ({
    dataHeadersTableGetMaterialPo: [
      {
        text: 'Nama barang',
        value: 'Nm_Barang',
        sortable: false
      },
      {
        text: 'Spesifikasi',
        value: 'Spesifikasi',
        sortable: false
      },
      {
        text: 'Satuan',
        value: 'Kd_Satuan',
        sortable: false
      },
      {
        text: 'Qty',
        value: 'Qty',
        sortable: false
      },
      {
        text: 'Actions',
        value: 'Spesifikasi',
        sortable: false,
        align: 'center'
      }
    ],
    dataItemsTableGetMaterialPo: [],
    searchDataTableGetMaterialPo: null,
    noPoForSearchMaterialPo: null
  }),

  methods: {
    async getDataMaterialPo(noPo) {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.get(
          'http://192.168.20.2/apiUntukPabrik/api/po/' + noPo
        )
        this.$store.state.attributePages.MaterialPo.dataItemsTableGetMaterialPo = data
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        console.log(e)
      }
    },

    async checkCountDiterimaMaterialPo(dataMaterialPO) {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.post(
          'checkCountPenerimaanMaterialPo',
          {
            dataMaterialPO
          },
          this.$store.getters.tokenUser
        )
        this.$store.state.attributePages.MaterialPo.dialogSelectMaterialForSetDataDetailMaterialdataItemsTableSetDetailDataMaterialPo = data
        this.$store.state.attributePages.MaterialPo.dialogSelectMaterialForSetDataDetailMaterial.show = true
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        console.log(e)
      }
    }
  }
}
</script>

<style scoped>
</style>
