<template>
  <div>
    <v-card>
      <v-card-title 
        class="headline grey lighten-2" 
        primary-title>
        Pilih Metode Penerimaan
      </v-card-title>
      <v-container 
        grid-list-md 
        text-xs-center>
        <v-layout 
          row 
          wrap>
          <v-flex xs6>
            <v-hover>
              <v-card
                slot-scope="{ hover }"
                :class="`elevation-${hover ? 12 : 2}`"
                class="changeCursor"
                to="/MaterialPo"
              >
                <v-card-text class="blue white--text">Dari PO</v-card-text>
              </v-card>
            </v-hover>
          </v-flex>
          <v-flex xs6>
            <v-hover>
              <v-card
                slot-scope="{ hover }"
                :class="`elevation-${hover ? 12 : 2}`"
                class="changeCursor"
                to="/MaterialCus"
              >
                <v-card-text class="green white--text">
                  Dari Customer
                </v-card-text>
              </v-card>
            </v-hover>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'PenerimaanBarang',
  middleware: ['checkStatusLogin']
}
</script>

<style scoped>
.changeCursor:hover {
  cursor: pointer;
}
</style>
