<template>
  <div>
    <v-card>
      <v-card-title
        primary-title
        class="headline grey lighten-2"
      >
        Pengeluaran Material
        <v-spacer/>
        <v-btn
          color="blue"
          outline
          @click.native="dialogPengeluaran = true"
        >
          Buat pengeluaran baru
        </v-btn>
      </v-card-title>
    </v-card>

    <v-dialog
      v-model="dialogPengeluaran"
      persistent
      fullscreen
      scrollable
    >
      <v-card>
        <v-toolbar
          primary-title
          class="headline grey lighten-2"
        >
          Buat Pengeluaran Material
          <v-spacer/>
          <v-btn
            v-if="itemsTableMaterialSelected.length > 0"
            color="orange"
            outline
            @click="kirimSpm()"
          >
            Kirim material
          </v-btn>
          <v-btn
            color="blue"
            outline
            @click="getMaterialFromKodeProject()"
          >
            Pilih material
          </v-btn>
          <v-btn
            color="red"
            small
            icon
            flat
            @click="dialogPengeluaran = false"
          >
            <v-icon small>
              close
            </v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-container
            fluid
            grid-list-md
          >
            <v-layout
              row
              wrap
            >
              <v-flex
                xs12
                md4
              >
                <v-autocomplete
                  v-model="kodeProject"
                  :items="dataSelectKodeProject"
                  label="Kode proyek"
                  @keyup.enter="getCodeProject()"
                />
              </v-flex>
              <v-flex
                xs12
                md4
              >
                <v-text-field
                  v-model="namaProject"
                  label="Nama proyek"
                />
              </v-flex>
              <v-flex
                xs12
                md4
              >
                <v-text-field
                  v-model="alokasiMaterial"
                  label="Alokasi material"
                />
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <v-autocomplete
                  v-model="typeMaterial"
                  :items="dataSelectTypeMaterial"
                  label="Type material"
                />
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <v-text-field
                  v-model="keterangan"
                  label="Keterangan"
                />
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <v-text-field
                  v-model="noSpm"
                  label="No SPM"
                />
              </v-flex>
              <v-flex
                xs4
                md3
              >
                <v-dialog
                  ref="dialog"
                  v-model="modal"
                  :return-value.sync="tglSPM"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="tglSPM"
                    label="Tanggal SPM"
                    readonly
                  />
                  <v-date-picker
                    v-model="tglSPM"
                    scrollable>
                    <v-spacer/>
                    <v-btn
                      flat
                      color="primary"
                      @click="modal = false">Cancel</v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="$refs.dialog.save(tglSPM)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              <v-flex xs12>
                <v-data-table
                  :headers="headerTableMaterialSelected"
                  :items="itemsTableMaterialSelected"
                  class="elevation-7"
                >
                  <template
                    slot="items"
                    slot-scope="props"
                  >
                    <td class="text-xs-center">{{ props.item.mvir_no }}</td>
                    <td class="text-xs-center">{{ props.item.nama_barang }}</td>
                    <td class="text-xs-center">{{ props.item.spesifikasi }}</td>
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!--Dialog select material-->
    <v-dialog
      v-model="dialogSelectMaterial"
      persistent
      width="800"
    >
      <v-card>
        <v-card-title
          primary-title
          class="headline grey lighten-2"
        >
          Pilih material yang akan di kirim
          <v-spacer/>
          <v-btn
            icon
            flat
            small
            color="red"
            @click.native="dialogSelectMaterial = false"
          >
            <v-icon small>
              close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="searchSelectMaterial"
            append-icon="search"
            label="Search material"
          />
          <v-data-table
            v-model="itemsTableMaterialSelected"
            :headers="headerTableSelectMaterial"
            :items="itemsSelectMaterial"
            :pagination.sync="paginationTableSelectMaterial"
            :search="searchSelectMaterial"
            select-all
            class="elevation-7"
          >
            <template 
              slot="headers" 
              slot-scope="props"
            >
              <tr>
                <th>
                  <v-checkbox
                    :input-value="props.all"
                    :indeterminate="props.indeterminate"
                    primary
                    hide-details
                    @click.stop="toggleAll"
                  />
                </th>
                <th
                  v-for="header in props.headers"
                  :key="header.text"
                >
                  {{ header.text }}
                </th>
              </tr>
            </template>
            <template
              slot="items"
              slot-scope="props"
            >
              <tr 
                :active="props.selected" 
                @click="props.selected = !props.selected">
                <td>
                  <v-checkbox
                    :input-value="props.selected"
                    primary
                    hide-details
                  />
                </td>
                <td class="text-xs-center">{{ props.item.mvir_no }}</td>
                <td class="text-xs-center">{{ props.item.nama_barang }}</td>
                <td class="text-xs-center">{{ props.item.spesifikasi }}</td>
              </tr>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import jsonQuery from 'json-query'
export default {
  name: 'PengeluaranMaterial',

  data: () => ({
    dialogPengeluaran: false,
    dataSelectKodeProject: [],
    kodeProject: null,
    namaProject: null,
    alokasiMaterial: null,
    keterangan: null,
    dataMaterialFromProject: [],
    dataSelectedMaterial: [],
    dialogSelectMaterial: false,
    headerTableMaterialSelected: [
      { text: 'MVIR No.', value: 'mvir_no', sortable: false, align: 'center' },
      {
        text: 'Nama barang',
        value: 'nama_barang',
        sortable: false,
        align: 'center'
      },
      {
        text: 'Spesifikasi',
        value: 'spesifikasi',
        sortable: false,
        align: 'center'
      }
    ],
    itemsTableMaterialSelected: [],
    headerTableSelectMaterial: [
      { text: 'MVIR No.', value: 'mvir_no', sortable: false, align: 'center' },
      {
        text: 'Nama barang',
        value: 'nama_barang',
        sortable: false,
        align: 'center'
      },
      {
        text: 'Spesifikasi',
        value: 'spesifikasi',
        sortable: false,
        align: 'center'
      }
    ],
    itemsSelectMaterial: [],
    masterProjectArray: [],
    dataSelectTypeMaterial: ['Material PO', 'Material Customer', 'All'],
    typeMaterial: null,
    paginationTableSelectMaterial: {
      rowsPerPage: -1
    },
    searchSelectMaterial: null,
    noSpm: null,
    modal: false,
    tglSPM: new Date().toISOString().substr(0, 10)
  }),

  watch: {
    kodeProject(val) {
      if (val === undefined) {
        return false
      }
      const dataMasterProject = {
        mProject: this.masterProjectArray
      }
      const fetchMasterProject = jsonQuery(
        'mProject[**][*Kd_Proyek=' + val + ']',
        {
          data: dataMasterProject
        }
      ).value
      this.namaProject = fetchMasterProject[0]['Nm_Proyek']
    }
  },

  methods: {
    async getCodeProject() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.get(
          'http://192.168.20.2/apiUntukPabrik/api/project'
        )
        this.dataSelectKodeProject = []
        this.masterProjectArray = data
        for (let value of data) {
          this.dataSelectKodeProject.push(value.Kd_Proyek)
        }
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        console.log(e)
      }
    },

    async getMaterialFromKodeProject() {
      if (this.kodeProject === null || this.kodeProject === undefined) {
        return this.$toast.error('Kode project harus di isi terlebih dahulu!', {
          icon: 'error'
        })
      }

      if (this.alokasiMaterial === null || this.alokasiMaterial === undefined) {
        return this.$toast.error('Alokasi harus di isi terlebih dahulu!', {
          icon: 'error'
        })
      }
      if (this.typeMaterial === null || this.typeMaterial === undefined) {
        return this.$toast.error(
          'Type material harus di sisi terlebih dahulu!',
          {
            icon: 'error'
          }
        )
      }

      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.post(
          'getMaterialFromKodeProject',
          {
            kodeProject: this.kodeProject,
            typeMaterial: this.typeMaterial
          },
          this.$store.getters.tokenUser
        )
        this.itemsSelectMaterial = data
        this.dialogSelectMaterial = true
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        console.log(e)
      }
    },

    toggleAll() {
      if (this.itemsTableMaterialSelected.length)
        this.itemsTableMaterialSelected = []
      else this.itemsTableMaterialSelected = this.itemsSelectMaterial.slice()
    },

    async kirimSpm() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.post(
          'pengeluaranMaterialSPM',
          {
            noSpm: this.noSpm,
            tglSpm: this.tglSPM,
            alokasiMaterial: this.alokasiMaterial,
            typeMaterial: this.typeMaterial,
            keterangan: this.keterangan,
            dataMaterial: this.itemsTableMaterialSelected
          },
          this.$store.getters.tokenUser
        )
        this.itemsTableMaterialSelected = []
        this.kodeProject = null
        this.namaProject = null
        this.alokasiMaterial = null
        this.typeMaterial = null
        this.keterangan = null
        this.noSpm = null
        this.tglSPM = null
        this.$toast.success(data, {
          icon: 'check'
        })
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style scoped>
</style>
