<template>
  <div>
    <v-card>
      <v-card-title
        primary-title
        class="headline grey lighten-2"
      >
        Report data mvir
      </v-card-title>
      <v-card-text>
        <v-text-field
          v-model="searchDataTableMvir"
          label="Search Kode mvir"
        />
        <v-data-table
          :headers="headersDataTableMvir"
          :items="itemsDataTableMvir"
          :search="searchDataTableMvir"
          class="elevation-7"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td>{{ props.item.report_no }}</td>
            <td>{{ props.item.project }}</td>
            <td>{{ props.item.date_mvir }}</td>
            <td>{{ props.item.type }}</td>
            <td class="text-xs-center">
              <v-tooltip top>
                <v-btn
                  slot="activator"
                  icon
                  flat
                  color="orange"
                  small
                  @click="openDialogDataMvir(props.item)"
                >
                  <v-icon small>
                    remove_red_eye
                  </v-icon>
                </v-btn>
                <span>Lihat detail data mvir</span>
              </v-tooltip>
            </td>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <print-mvir/>
  </div>
</template>

<script>
import PrintMvir from '~/components/pages/ReportMvir/PrintMvir'
export default {
  name: 'ReportMvirNumber',
  middleware: ['checkStatusLogin'],
  components: {
    PrintMvir
  },

  data: () => ({
    headersDataTableMvir: [
      { text: 'Kode MVIR', value: 'report_no', sortable: false },
      { text: 'Project', value: 'project', sortable: false },
      { text: 'Tanggal MVIR', value: 'date_mvir', sortable: false },
      { text: 'MVIR type', value: 'type', sortable: false },
      { text: 'Actions', value: 'id', sortable: false, align: 'center' }
    ],
    itemsDataTableMvir: [],
    searchDataTableMvir: null,
    dialogViewMvir: true
  }),

  mounted() {
    this.getDataMvir()
  },

  methods: {
    async getDataMvir() {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.get(
          'mvir/get/allData',
          this.$store.getters.tokenUser
        )
        this.itemsDataTableMvir = data
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        console.log(e)
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      }
    },

    async openDialogDataMvir(dataMvir) {
      this.$store.dispatch('setLoadingResponseServer', {
        requestStatus: true
      })
      try {
        const { data } = await this.$axios.get(
          'mvir/get/getDataMaterialByMvir/' + dataMvir.id,
          this.$store.getters.tokenUser
        )
        let i, iMax
        this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataArrayTonageMaterial = []
        this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataArrayQtyMaterial = []
        for (i = 0, iMax = data.length; i < iMax; i++) {
          this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataArrayTonageMaterial.push(
            data[i]['tonage']
          )
          this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataArrayQtyMaterial.push(
            data[i]['qty']
          )
        }
        this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMvir = dataMvir
        this.$store.state.attributePages.ReportMvir.dialogPrintMvir.dataMaterialByMvir = data
        this.$store.state.attributePages.ReportMvir.dialogPrintMvir.show = true
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
      } catch (e) {
        this.$store.dispatch('setLoadingResponseServer', {
          requestStatus: false
        })
        console.log(e)
      }
    }
  }
}
</script>
