<template>
  <v-card>
    <v-card-title 
      class="headline grey lighten-2" 
      primary-title>
      List Data Proyek
      <v-spacer />
      <v-btn 
        color="blue" 
        outline 
        @click="openDialogAddProyek">
        Tambah proyek
      </v-btn>
      <form-add-project />
    </v-card-title>
    <v-card-text>
      <v-data-table
        :headers="headerDataTable"
        :items="itemsDataTable"
        class="elevation-4"
      >
        <template 
          slot="items" 
          slot-scope="props">
          <td>{{ props.item.nama_project }}</td>
          <td>{{ props.item.kode_project }}</td>
          <td>{{ props.item.persentase_finish }}</td>
          <td class="text-xs-center">
            <v-tooltip top>
              <v-btn
                slot="activator"
                :to="getHrefDetailProject(props.item.id)"
                flat
                icon
                small
                color="primary"
              >
                <v-icon small>
                  /* eslint-disable
                  vue/singleline-html-element-content-newline*/ remove_red_eye
                </v-icon>
              </v-btn>
              <span> Lihat detail project {{ props.item.nama_project }} </span>
            </v-tooltip>
          </td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import FormAddProject from '~/components/pages/dashboard/AddProyek/DialogAddProyek'
export default {
  name: 'DataTableListPojects',

  components: {
    FormAddProject
  },

  data: () => ({
    headerDataTable: [
      {
        text: 'Nama project',
        value: 'nama_project',
        sortable: false
      },
      {
        text: 'Kode project',
        value: 'kode_project',
        sortable: false
      },
      {
        text: 'Persentase finish',
        value: 'persentase_finish',
        sortable: false
      },
      {
        text: 'Detail',
        value: 'id',
        sortable: false,
        align: 'center'
      }
    ],
    itemsDataTable: [
      {
        nama_project: 'Tanjung Jati',
        kode_project: 'TJ009-OPL',
        persentase_finish: '56%',
        id: 1
      }
    ]
  }),

  mounted() {
    this.getHrefDetailProject()
  },

  methods: {
    openDialogAddProyek() {
      this.$store.state.attributePages.dashboard.AddProject.DialogAddProyek.show = true
    },

    getHrefDetailProject(id) {
      return 'DetailProject/' + id
    }
  }
}
</script>

<style scoped>
</style>
